# объектные файлы
*.o
*.obj

# бинарники
*.out
*.exe
*.elf

# резервные файлы редакторов
*~
*.swp
*.swo

# файлы с логами и временные
*.log
*.tmp

# папки сборки
/build/
/bin/
/dist/

# системные
.DS_Store
Thumbs.db

lab_1/*.txt


lab_1/child
lab_1/parent